body{

  text-align: center;
  margin:0 ;
  color: #40514E;
  background-color: #E4F9F5;
  font-family: 'Merriweather', serif;
}

hr{
  border: dotted #66bfbf 6PX;
  border-bottom: none;
  width: 5%;
  margin-top: 100px;
}

.top-container{
   background-color: #E4F9F5;

}

.middle-container{
  margin-top: 2% ;

}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0px 20px ;
}

h1{
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #66bfbf;
  margin: 50px auto 0 auto;
  line-height: 2;
}
/* img{
  max-width: 50%;
} */
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color:#66bfbf;
  line-height: 2;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #11999E;
}

.profile-pic{
  border-radius: 50%;

}

.profile{
  width: 50%;
  margin:auto ;
  line-height: 2 ;
}

.profile-hi{
  text-align: left;
}
.profile-txt{
  text-align: left;
  color: #40514E;
}

.skills{
  margin-top: 100px;
}
.top-cloud{
  max-width: 10%;
  /* max-height: auto ; */
  margin-left: 50%;
  margin-top: 5%;
}

.life{
  font-weight: bold;
}

.emoji{
  font-weight: normal;
}

.bottom-cloud{
  position:absolute;
  max-width : 10%;
  /* max-height: auto ; */
  margin-left: 20%;
}
 .mountain{
   max-width: 100%;
   /* max-height: auto ; */
 }

.skill-img{
  width: 25%;
  align-items: flex-start;
}

.da{
  max-width: 200px;
}

 .about-img{
   max-width: 300px;
 }

.contact-img{
  width: 25%;
  margin-top: 80px;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 50px;
  text-decoration: none;
}

.skill-row{
  width: 50%;
  margin: auto ;
  line-height: 2 ;
}

.para1{
  width: 80% ;
  margin-left: 80px;
  text-align: left;
}

.sugg{
  width: 40%;
  margin: 40px auto 60px ;
}

.btn-contact{
  margin-bottom: 50px
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cd;
  background-image: -webkit-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cd, #2bc4ad);
  text-decoration: none;
}
/* .prog{
  width: 50% ;
  float: left;
  margin-right: 30px;
}
.pro2{
  width: 50%;
  float: right;
  margin-left: 30px
} */

 /* .skill-img1{
   max-width: 50%;
 } */
